*{ font-family: "Gilroy", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.contanier .content_page_1{
  position: relative;
  width:100%; 
  min-height: 100vh; 
  background: url("imgs/BG.svg") no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.content_page_1 .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0));
  background-size: cover;
  z-index: 1;
}

 .header{
   max-width: 1600px; 
    min-height: 50px;
    padding: 10px 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
   z-index: 2;
 }
.name_website_navbar {
    display: flex;
    gap: 30px;
    align-items: center;
  }

.navbar a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
   
}
.name_website{
   font-family: "Rubik", sans-serif;
    font-size: 28px;
    color: #FFFFFF;
   display: flex;
   align-items: center;
   font-weight: 700; 
}
.navbar{
  max-width: 100%;
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 11px;
}
.header button{
  min-width: 151px;
 min-height: 50px;
background-color: #473BF0;
border-radius: 8px;
color: #FFFFFF;
border: none;
font-size: 17px;
font-weight: 700;
}
.banner{
   position: relative;
  max-width: 740px;
min-height: 349px;
  align-items: center;
  justify-content: space-between;
  margin-top: 184px;
  margin-left: 244px;
  word-wrap: break-word;
  white-space: normal;
  z-index: 2;
}
.banner .main_title{
font-style: gilroy;
font-size: 35px;
margin-bottom: 29px;
color: #FFFFFF;
max-width: 740px;
min-height: 130px;
font-weight: 700;
z-index: 2;
}
.banner .sub_title{
  font-size: 19px;
  color: #FFFFFF;
 max-width: 470px;
min-height: auto;
opacity: 65%;
  margin-bottom: 35px;
  font-weight: 400;
}
.banner button{
  min-width: 218px;
 min-height: 59px;
 background-color: #473BF0;
 color: #FFFFFF;
 border-radius: 8px;
 font-size: 17px;
 display: flex;
 align-items: center;
 padding-left: 21px;
  gap: 30px;
  font-weight: 700;
  border: none;
}
.footer{
  margin-top: 150px;
    width: 100%; 
    max-height: 134px;
  color: black;
  margin-bottom: 80px;
}
.footer .footer-content {
  display: flex;
  align-items: center;
  gap: 95px;
justify-content: center;
}
.footer .footer-section-number{
max-width: 300px;
min-height: 58px;
white-space: normal;
word-wrap: normal;
display: flex;
gap: 30px;
align-items: center;
}
.footer .footer-section-percentage{
max-width: 300px;
min-height: 58px;
white-space: normal;
word-wrap: normal;
display: flex;
gap: 30px;
align-items: center;
}
.footer .footer-section-average{
max-width: 300px;
min-height: 58px;
white-space: normal;
word-wrap: normal;
display: flex;
gap: 30px;
align-items: center;
}

.footer-content .title{
  font-size: 48px;
  color: #161C2D;
  font-weight: 700;
}
.footer-content .sub_title{
  font-size: 17px;
 opacity: 70%;
 font-weight: 400;;
}
.page_2{
  width: 100%;
  height: 80%;
  color: #161C2D;
}
.page_2_content{
  width: 769px;
height: 129px;
 margin: 0 auto;
  display: flex;
  flex-direction: column;
   text-align: center;
   word-wrap: normal;
   white-space: normal;
    gap: 17px;
margin-bottom: 92px;
}
.page_2_title{
  font-size: 36px;
  font-weight: 700;

}
.page_2_sub_title{
  font-size: 19px;
  opacity: 70%;
  max-width: 550px;
   margin: 0 auto;
  font-weight: 400;
}
.all_option{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin:0 auto;
}
.option_1, .option_2, .option_3, .option_4{
  border: #E7E9ED 1px solid;
  align-items: center;
  border-radius: 10px;
  max-width: 255px;
 max-height: 226px;

}
.all_option  .option_4 img{
  object-fit: cover; 
}

.option_title{
  font-family: "Gilroy", sans-serif;
  display: flex;
  gap: 70px;
align-items: center;
padding: 22px;
font-weight: 400;

}
.page_3_head{
  max-width: 1600px;
  max-height: 849px;
  color: black;
}
.page_3_header{
   max-width: 769px;
  min-height: 129px;
  margin: 0 auto;
 margin-top: 90px;
  display: flex;
  flex-direction: column;
   text-align: center;
   word-wrap: normal;
   white-space: normal;
    gap: 17px;
margin-bottom: 74px;
}
.page_3_title{
  font-size: 36px;
  font-weight: 700;

}
.page_3_sub_title{
  font-size: 19px;
  opacity: 70%;
  max-width: 550px;
   margin: 0 auto;
  font-weight: 400;
}
.page_3_content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 95px;
}
.page_3_video {
  position: relative;   
  display: inline-block;
}

.video-img {
  display: block;
  width: 100%;        
  border-radius: 8px;  
}

.button-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 92px;          
  cursor: pointer;      
}
.page_3_text{
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}
.group_1 , .group_2, .group_3{
  display: flex;
  gap: 30px;
  align-items: center;
 
}
.group_1 .content, .group_2 .content, .group_3 .content{
  display: flex;
  font-size: 15px;
  font-weight: 400;
  flex-direction: column;
  gap: 10px;
}
.group_1 label.main_text, .group_2 label.main_text, .group_3 label.main_text{
 font-size: 21px;
  font-weight: 700;
  color: #161C2D;
  line-height: 32px;
}
.group_1 label.sub_text, .group_2 label.sub_text, .group_3 label.sub_text{
  font-size: 17px;
  line-height: 29px;
  max-width: 350px;
  opacity: 70%;
}
.group_1 img, .group_2 img, .group_3 img{
  display: flex;
  width: 43px;
  height: 43px;
  align-self: flex-start;
}
.page_3_footer {
  margin-top: 100px;
  width: 100%;
  min-height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  background-color: #473bf0;
}
.page_3_footer .Tag-Name {
  background: #ffffff;
  color: #473bf0;
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;

  text-align: center;
  text-transform: uppercase;
  padding: 5px 13px 6px 12px;
  border-radius: 13.5px;
 
}
.page_3_footer .Tag-Description {
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  
  color: #ffffff;  
}
.page_3_footer .Tag-Description a {
  color: #ffffff;

}
.Testimonial {
  justify-content: center;
  width: 1089px;
  height: 294px;
  margin-top: 100px;
  margin-left: 256px;
  margin-right: 255px;
  margin-bottom: 109px;
  display: flex;
  gap: 57px;
}

.Testi1,.Testi2,.Testi3 {
   max-width: 324px;
   max-height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.Testi1 .Testimonial-Description,.Testi2 .Testimonial-Description,.Testi3 .Testimonial-Description {
  max-width: 324px;
  max-height: 102px;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #161c2d;
}
.Testimonial h2 {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 29px;
  letter-spacing: -0.2px;
  color: #161c2d;
  max-width: 73px;
  white-space: nowrap;
}
.Job-Title {
  white-space: nowrap;
  display: flex;
  align-items: center;
 font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.1px;
  color: #161c2d;
}
.Info1,.Info2,.Info3 {
  max-width: 189px;
  max-height: 53px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.Info1 img {
  width: 65.3px;
  height: 47px;
}
.Info-text1 {
  display: flex;
  flex-direction: column;
}

.Info2 img {
  width: 65.3px;
  height: 47px;
}

.Info3 img {
  width: 65.3px;
  height: 47px;
}

.page_CTA {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
   width: 100%;
   min-height: 745px;
  background-color: #161c2d;
}
.content_CTA{
  position: relative;
  max-width: 1000px;
  min-height: 499px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.logo-message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 87px;
  height: 87px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.08);
  margin-bottom: 46px;
}
.CTA-Title {
  max-width: 500px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 18px;
}
.CTA-Description {
  max-width: 412px;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  color: #ffffff;
  opacity: 65%;
}
.Form_background .img_CTA {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.CTA-Form {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  min-width: 350px;
  min-height: 499px;
  background: #ffffff;
  border: 1px solid #e7e9ed;
  border-radius: 10px;
}

.CTA-Form .name , .email,
 .phone, .select-service{
  gap: 7px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 300px;
  height: 78px;
  padding-top: 30px;
  padding-right: 25px;
  padding-left: 25px;
}

.CTA-Form label {
  font-family: "Gilroy", sans-serif;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.1px;
  color: #161c2d;
}
.CTA-Form select {
  margin: unset;
  width: 262px;
  height: 26px;
  font-family: Gilroy;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.1px;
  color: #161c2d;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("imgs/Blackmuiten.svg") no-repeat right 12px center;
  background-size: 10px 5px;
}
.select-arrow {
  width: 193px;
  height: 26px;
  margin: unset;
  opacity: 1;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
}
.CTA-Form input {
  width: 262px;
  height: 26px;
  opacity: 0.7;
  font-family: Gilroy;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.1px;
  color: #161c2d;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
}

.CTA-Form input::placeholder {
  font-family: "Gilroy", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.1px;
  color: #161c2d;
}
.oval-input input {
  min-width: 300px;
  min-height: 50px;
  border-radius: 8px;
  border-width: 1px;
  border: 1px solid #e7e9ed;
  background: #ffffff;
}
.btn-form {
  width: 300px;
  height: 59px;
  border-radius: 8px;
  background-color: #473bf0;
  color: #ffffff;
  border: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 28px;
}
.CTA_footer {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  margin-bottom: 50px;
}
.CTA-Content {
  max-width: 1110px;
  min-height: 88px;
  margin-right: 122px;
}
.CTA-Content  h1 {
  max-width: 550px;
  height: 88px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #161c2d;
 
}

.enter-email input{
  min-width: 290px;
  min-height: 59px;
  border-radius: 8px;
  border-width: 1px;
  background: #ffffff;
  border: 1px solid #e7e9ed;
  margin-right: 20px;
}
.btn_subscribe {
  margin-left: 20px;
  font-size: 17px;
  font-weight: 700;
  width: 170px;
  height: 59px;
 color: #ffffff;
  border-radius: 8px;
  background-color: #473bf0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
}

.Footer {
  width: 100%;
  height:auto;
}
 .hr2 {
   max-width: 1111px;
  margin: 0% auto;
  border: 2px solid #E7E9ED;
}
.List-footer {
  width: 80%;
  display: flex;
  gap: 65px;
  align-items: center;
  margin: 0%  auto;
  padding: 30px;
}
.Company, .Product, .Services-footer, .Legal , .Contact-us {
  min-width: 144px;
  min-height: 206px;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  gap: 20px;
  color: #161c2d;
}
.title_company ,  .title_product, .title_services, .title_legal, .title_contact {
  font-size: 15px;
  font-weight: 400;
  opacity: 70%;
}
.sub_company , .sub_product, .sub_services, .sub_legal{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sub_company a , .sub_product a, .sub_services a, .sub_legal a{
  text-decoration: none;
  color: #161c2d;
  font-size: 17px;
  font-weight: 400;
}
.sub_contact {
   display: flex;
   font-size: 17px;
   font-weight: 700;
  flex-direction: column;
  gap: 10px;
}
.sub_contact a{
  text-decoration: none;

}
.footer-bottom {
  width: 60%;
  height: auto;
  margin: 0 auto;
}
.boxSocial {
  display: flex;
  align-self: center;
  justify-content: space-between;
}
.footer-info  p {
  min-width: 500px;
  height: 26px;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #161c2d;
  padding-top: 32px;
}
.Social_icons {
  gap: 30px;
  display: flex;
  align-items: center;
  padding-top: 36px;
}
